<!--
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js)
  The 'pets' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Contact Information">
  <ion-content>

    <ion-list>

      <ion-item ng-repeat="contact in contacts" type="item-text-wrap" href="#/tab/contact/{{contact.id}}">
        <h3>{{contact.firstname}} {{contact.lastname}}</h3>
        <p>{{contact.phonenumber}}</p>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
